<div class="article-list">
    {{#each articles}}
        <div class="article-card">
            <a href="{{link}}" target="_blank" class="article-link">
                <img src="{{image}}" class="article-image">
            </a>
            <div class="article-content">
                <p class="tag">{{tag}}</p>
                <h3>
                    <a href="{{link}}" target="_blank">{{title}}</a>
                </h3>
                <div class="mini-container">
                    <p class="author ml-0 my-0">By {{author}}</p>
                    <div class="comments" data-id="{{_id}}" data-toggle="modal" data-target="#commentModal">
                        <i class="fas fa-comment"></i>
                        {{#if comment.length}}
                        <p>{{comment.length}}</p>
                        {{else}}
                        <p>0</p>
                        {{/if}}
                    </div>
                </div>
                {{#unless saved}}
                <i class="far fa-heart" data-id="{{_id}}"></i>
                {{else}}
                <i class="fas fa-heart colored-heart" data-id="{{_id}}"></i>
                {{/unless}}
            </div>
        </div>
    {{/each}}
</div>